# Training outputs / checkpoints
output/
output_4fps
output_batch
Output_gtcc_protas
output_4fps_val
output_val
testLavLoss1.log
testVavaLoss1.log
output_l2_progress
output_learnable_progress
output_protas_eval
output_diagnostic
output_diagnostic_progress
output_l2_progress_v2
output_learnable_progress_v2
output_learnable_progress_v3